.container{
	padding: 44px 0px 44px 0px;
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	/*margin-top: 44px;*/
}

.catHeader{
	width: 100%;
}

.catIcon{
	margin-top: 5px;
}

.catTitle{
	display: inline-block;
	vertical-align: bottom;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #909090;
	margin-left: 12px;
}

.line{
	display: block;
	width: 100%;
	height: 3px;
	background-color: #e3e3e3;
	margin-top: 5px;
}

.subLineVideo{
	margin-left: 0px;
	margin-top: 0px;
	width: 103px;
	height: 100%;
	background-color: #fda156;
}

.subLineAudio{
	margin-left: 0px;
	margin-top: 0px;
	width: 103px;
	height: 100%;
	background-color: #65d1f8;
}

.videoContainer{
	padding: 20px 0px 20px 0px;
}

.audioContainer{
	padding: 20px 0px 20px 0px;
}

.item{
	display: inline-block;
	margin: 8px 3px 8px 3px;
}

.itemIcon{
	width: 164px;
}

.itemTitle{
	color: #6d6d6d;
	font-size: 16px;
	text-align: center;
}
